[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-testmon = "==1.0.0"
pytest-django = "*"

[requires]
python_version = "3.6"

[packages]
django = "~=1.11"
